/*!***************************************************************************\
  NES.css Customization
  Based on NES.css version: 2.3.0

\*****************************************************************************/

html, body, pre, code, kbd, samp {
  font-family: "Press Start 2P";
}


/* Balloons sample */
section.message-list {
  display: flex;
  flex-direction: column;
}
.message-list > .message {
  display: flex;
  margin-top: 2rem;

  word-break: break-word;
}
.message-list > .message > .nes-balloon {
  max-width: 550px;
  
  min-width: 104px;
  min-height: 64px;
}
.message-list > .message i {
  align-self: flex-end;
}
.message-list > .message.-left {
  align-self: flex-start;
}
.message-list > .message.-right {
  align-self: flex-end;
}
.message-list > .message.-left i {
  margin-right: 2rem;
}
.message-list > .message.-right i {
  margin-left: 2rem;
}