/*!***************************************************************************\
  NES.css Customization
  Based on NES.css version: 2.3.0

\*****************************************************************************/

html,
body,
pre,
code,
kbd,
samp {
  font-family: "Press Start 2P";
}

/* Balloons sample */
section.message-list {
  display: flex;
  flex-direction: column;
}
.message-list > .message {
  display: flex;
  margin-top: 2rem;

  word-break: break-word;
}
.message-list > .message > .nes-balloon {
  max-width: 550px;

  min-width: 104px;
  min-height: 64px;
}
.message-list > .message i {
  align-self: flex-end;
}
.message-list > .message.-left {
  align-self: flex-start;
}
.message-list > .message.-right {
  align-self: flex-end;
}
.message-list > .message.-left i {
  margin-right: 2rem;
}
.message-list > .message.-right i {
  margin-left: 2rem;
}

/* Input disabled style */
.nes-input.is-disabled,
.nes-input.is-disabled:hover,
.nes-input.is-disabled:focus {
  color: black;
  cursor: not-allowed;
  background-color: #d3d3d3;
  /* box-shadow: inset -4px -4px #adafbc; */
  opacity: 0.6;
}

/* Fix Button disabled style */
.nes-btn.is-disabled,
.nes-btn.is-disabled:hover,
.nes-btn.is-disabled:focus {
  box-shadow: none;
}
